<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
        <p>Want to know more? Please read the <a href="about">about</a> page, open <a href="https://github.com/gimmefreshdata/freshdata/issues/new">an issue</a> or yell really loudly. This project is supported by the <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1442731">National science foundation, award #1442731</a> and the <a href="http://eol.org">Encyclopedia of Life</a> and (partly) runs on <a href="http://idigbio.org">iDigBio</a> servers.</p>
      </div>
    </div>

  </div>

</footer>
