---
layout: default
---
{{ content }}
<div id="effechecka-selector"></div>

<p>Include occurrences after <input placeholder="enter start date (if any)"></input> and before
    <input placeholder="enter end date (if any)"></input>.</p>

<p>Include occurrences added to Fresh Data after <input placeholder="enter start date (if any)"></input> and
    before <input placeholder="enter end date (if any)"></input>.</p>

<div id="effechecka-occurrences"></div>

<script src="http://www.effechecka.org/static/bundle.js"></script>
<!--<script src="bundle.js"></script>-->

